<article class="summary">
  <div>
    <h2>
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a>
    </h2>
    {% include 'metadata.inc.html' %}
    <p>{{ article.summary }}</p>
    <p><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Read {{ article.title }}">Read more</a></p>
  </div>
</article>
