{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

{% for article in articles_page.object_list %}

  <article>
    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
    {% include 'metadata.inc.html' %}
    {{ article.content }}
  </article>
  {% if not loop.last %}
  <hr/>
  {% endif %}

{% endfor %}

{% if articles_page.has_other_pages() %}
{% include 'pagination.inc.html' %}
{% endif %}

{% endblock content %}
