<div class="metadata">
  <span>
    <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
    {% if article.author %}
      <address class="vcard author">
	by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
      </address>
    {% endif %}
    in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% if article.tags %}tagged {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last%}, {% endif %}{% endfor %}{% endif %}
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">Download the .pdf</a>{% endif %}
  </span>
</div>
